Repository unb-mds/2024-1-Squad02-CulturaTransparente, pull requests merged in 2024-07, with the labels that each got.

#87 85 filtrar de maneira correta e manipular arquivos json
  backend/transformandodados.py
Labels: backend

#90 Melhorei a disponibilidade dos arquivos json
  backend/transformandodados.py
Labels: backend

#92 atualizando o git page
  docs/roadmap.md
  mkdocs.yml
Labels: documentation, tasks

#96 Fiz a mudança na forma de impressão e disponibilidade dos dados
  backend/transformandodados.py
Labels: backend

#101 100 documentação da execução
  README.md
  docs/comoexecutar.md
  docs/sprints.md
  mkdocs.yml
Labels: documentation

#99 94 automatização do backend
  backend/data_collection/gazette/__pycache__/__init__.cpython-310.pyc
  backend/data_collection/gazette/__pycache__/extensions.cpython-310.pyc
  backend/data_collection/gazette/__pycache__/items.cpython-310.pyc
  backend/data_collection/gazette/__pycache__/monitors.cpython-310.pyc
  backend/data_collection/gazette/__pycache__/pipelines.cpython-310.pyc
  backend/data_collection/gazette/__pycache__/settings.cpython-310.pyc
  backend/data_collection/gazette/__pycache__/utils.cpython-310.pyc
  backend/data_collection/gazette/commands/__pycache__/__init__.cpython-310.pyc
  backend/data_collection/gazette/commands/__pycache__/qd-list-enabled.cpython-310.pyc
  backend/data_collection/gazette/database/__pycache__/__init__.cpython-310.pyc
  backend/data_collection/gazette/database/__pycache__/models.cpython-310.pyc
  backend/data_collection/gazette/spiders/__pycache__/__init__.cpython-310.pyc
  backend/data_collection/gazette/spiders/base/__pycache__/__init__.cpython-310.pyc
  backend/data_collection/gazette/spiders/base/__pycache__/adminlte.cpython-310.pyc
  backend/data_collection/gazette/spiders/base/__pycache__/aplus.cpython-310.pyc
  backend/data_collection/gazette/spiders/base/__pycache__/diariooficialbr.cpython-310.pyc
  backend/data_collection/gazette/spiders/base/__pycache__/dionet.cpython-310.pyc
  backend/data_collection/gazette/spiders/base/__pycache__/doem.cpython-310.pyc
  backend/data_collection/gazette/spiders/base/__pycache__/dosp.cpython-310.pyc
  backend/data_collection/gazette/spiders/base/__pycache__/fecam.cpython-310.pyc
  backend/data_collection/gazette/spiders/base/__pycache__/imprensa_oficial.cpython-310.pyc
  backend/data_collection/gazette/spiders/base/__pycache__/instar.cpython-310.pyc
  backend/data_collection/gazette/spiders/base/__pycache__/municipioonline.cpython-310.pyc
  backend/data_collection/gazette/spiders/base/__pycache__/sai.cpython-310.pyc
  backend/data_collection/gazette/spiders/base/__pycache__/siganet.cpython-310.pyc
  backend/data_collection/gazette/spiders/base/__pycache__/sigpub.cpython-310.pyc
  backend/data_collection/gazette/spiders/rj/__pycache__/__init__.cpython-310.pyc
  backend/data_collection/gazette/spiders/rj/__pycache__/rj_arraial_do_cabo.cpython-310.pyc
  backend/data_collection/gazette/spiders/rj/__pycache__/rj_associacao_municipios.cpython-310.pyc
  backend/data_collection/gazette/spiders/rj/__pycache__/rj_belford_roxo.cpython-310.pyc
  backend/data_collection/gazette/spiders/rj/__pycache__/rj_niteroi.cpython-310.pyc
  backend/data_collection/gazette/spiders/rj/__pycache__/rj_nova_iguacu.cpython-310.pyc
  backend/data_collection/gazette/spiders/rj/__pycache__/rj_rio_de_janeiro.cpython-310.pyc
  backend/data_collection/gazette/spiders/rj/__pycache__/rj_sao_joao_de_meriti.cpython-310.pyc
  backend/data_collection/gazette/spiders/rj/querido-diario.db
  backend/run_back.py
  backend/transformandodados.py
Labels: enhancement, backend

#105 104 melhora na disposição dos códigos do back end
  backend/format.py
  backend/group.py
  backend/name.py
  backend/principal.py
  backend/regex.py
  backend/run_back.py
  backend/schedule.py
  backend/search.py
  backend/sums.py
  backend/transformandodados.py
Labels: backend

#108 organização dos arquivos para melhor entendimento
  backend/functions/format.py
  backend/functions/group.py
  backend/functions/name.py
  backend/functions/principal.py
  backend/functions/regex.py
  backend/functions/schedule.py
  backend/functions/search.py
  backend/functions/sums.py
Labels: backend
