Repository unb-mds/2024-1-Squad02-CulturaTransparente, pull requests merged in 2024-08, with the labels that each got.

#111 add sprint 12 e 13
  backend/functions/__pycache__/format.cpython-310.pyc
  backend/functions/__pycache__/group.cpython-310.pyc
  backend/functions/__pycache__/name.cpython-310.pyc
  backend/functions/__pycache__/regex.cpython-310.pyc
  backend/functions/__pycache__/schedule.cpython-310.pyc
  backend/functions/__pycache__/search.cpython-310.pyc
  backend/functions/__pycache__/sums.cpython-310.pyc
  docs/sprints.md
Labels: documentation

#113 109 adicionar os testes unitarios
  backend/functions/__pycache__/format.cpython-310.pyc
  backend/functions/__pycache__/group.cpython-310.pyc
  backend/functions/__pycache__/name.cpython-310.pyc
  backend/functions/__pycache__/regex.cpython-310.pyc
  backend/functions/__pycache__/schedule.cpython-310.pyc
  backend/functions/__pycache__/search.cpython-310.pyc
  backend/functions/__pycache__/sums.cpython-310.pyc
  backend/functions/group.py
  backend/functions/principal.py
  backend/functions/sums.py
  backend/testes/test_format.py
  backend/testes/test_group.py
  backend/testes/test_name.py
  backend/testes/test_principal.py
  backend/testes/test_regex.py
  backend/testes/test_run_back.py
  backend/testes/test_schedule.py
  backend/testes/test_search.py
  backend/testes/test_sums.py
Labels: backend

#115 consertando o erro do path
  backend/run_back.py
Labels: tasks, backend

#124 Novo layout para cards de Integrantes
  Front end/projeto-react/src/components/participantes/participantes.jsx
  Front end/projeto-react/src/components/participantes/participantes_main.jsx
Labels: front-end

#128 126 ajustes no backend
  backend/functions/__pycache__/format.cpython-312.pyc
  backend/functions/__pycache__/group.cpython-312.pyc
  backend/functions/__pycache__/name.cpython-312.pyc
  backend/functions/__pycache__/regex.cpython-312.pyc
  backend/functions/__pycache__/schedule.cpython-312.pyc
  backend/functions/__pycache__/search.cpython-312.pyc
  backend/functions/__pycache__/sums.cpython-312.pyc
  backend/functions/group.py
  backend/functions/principal.py
  backend/functions/sums.py
Labels: backend

#130 Feature: Validation dates to run the scrapper
  backend/data_collection/gazette/spiders/rj/calcular_data.py
  backend/data_collection/gazette/spiders/rj/rj_arraial_do_cabo.py
  backend/data_collection/gazette/spiders/rj/rj_belford_roxo.py
  backend/data_collection/gazette/spiders/rj/rj_niteroi.py
  backend/data_collection/gazette/spiders/rj/rj_nova_iguacu.py
  backend/data_collection/gazette/spiders/rj/rj_rio_de_janeiro.py
  backend/data_collection/gazette/spiders/rj/rj_sao_joao_de_meriti.py
Labels: backend

#132 Consertei os pycache
  backend/functions/__pycache__/group.cpython-312.pyc
  backend/functions/__pycache__/sums.cpython-312.pyc
Labels: bug, backend

#139 Fixing bugs frontend
  Front end/projeto-react/src/components/Inicial/inicial.jsx
  Front end/projeto-react/src/components/Inicial/inicial_main.jsx
  Front end/projeto-react/src/components/licitacoes/licitacoes.jsx
  Front end/projeto-react/src/components/main_button/button.jsx
  Front end/projeto-react/src/components/participantes/participantes.jsx
  Front end/projeto-react/src/components/participantes/participantes_main.jsx
  Front end/projeto-react/src/components/sobre/sobre.jsx
Labels: front-end

#141 Fiz a inclusão de um outro regex que será necessário para calcular o …
  backend/functions/__pycache__/group.cpython-312.pyc
  backend/functions/__pycache__/percentual.cpython-312.pyc
  backend/functions/__pycache__/regex.cpython-312.pyc
  backend/functions/__pycache__/regexGeral.cpython-312.pyc
  backend/functions/__pycache__/search.cpython-312.pyc
  backend/functions/__pycache__/sums.cpython-312.pyc
  backend/functions/group.py
  backend/functions/percentual.py
  backend/functions/principal.py
  backend/functions/regexGeral.py
  backend/functions/search.py
  backend/functions/sums.py
Labels: backend

#145 atualizando testes unitarios
  arquivo_com_valores.txt
  arquivo_vazio.txt
  backend/functions/__pycache__/format.cpython-310.pyc
  backend/functions/__pycache__/group.cpython-310.pyc
  backend/functions/__pycache__/name.cpython-310.pyc
  backend/functions/__pycache__/percentual.cpython-310.pyc
  backend/functions/__pycache__/principal.cpython-310.pyc
  backend/functions/__pycache__/regex.cpython-310.pyc
  backend/functions/__pycache__/regexGeral.cpython-310.pyc
  backend/functions/__pycache__/schedule.cpython-310.pyc
  backend/functions/__pycache__/search.cpython-310.pyc
  backend/functions/__pycache__/sums.cpython-310.pyc
  backend/testes/__pycache__/test_format.cpython-310.pyc
  backend/testes/__pycache__/test_group.cpython-310.pyc
  backend/testes/__pycache__/test_name.cpython-310.pyc
  backend/testes/__pycache__/test_percentual.cpython-310.pyc
  backend/testes/__pycache__/test_principal.cpython-310.pyc
  backend/testes/__pycache__/test_regex.cpython-310.pyc
  backend/testes/__pycache__/test_regexGeral.cpython-310.pyc
  backend/testes/__pycache__/test_run_back.cpython-310.pyc
  backend/testes/__pycache__/test_schedule.cpython-310.pyc
  backend/testes/__pycache__/test_search.cpython-310.pyc
  backend/testes/__pycache__/test_sums.cpython-310.pyc
  backend/testes/test_group.py
  backend/testes/test_percentual.py
  backend/testes/test_principal.py
  backend/testes/test_regexGeral.py
  backend/testes/test_search.py
  backend/testes/test_sums.py
Labels: bug, backend
